<%= form_with model: movie do |form| %>
    <div>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
        <% movie.errors.full_messages_for(:title).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :director %><br>
        <%= form.text_field :director %><br>   
        <% movie.errors.full_messages_for(:director).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :year %><br>
        <%= form.text_field :year %><br>
        <% movie.errors.full_messages_for(:year).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    
    <div>
        <%= form.submit %>
    </div>
<% end %>