<h1><%= @movie.title %></h1>

<p>Directed by: <%= @movie.director %></p>
<p>Released in: <%= @movie.year %></p>

<ul>
    <li><%= link_to "Edit", edit_movie_path(@movie) %></li>
    <li><%= link_to "Destroy", movie_path(@movie), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
</ul>

<h2>Reviews:</h2>
<% @movie.reviews.each do |review| %>
    <p>
        <strong>Reviewer:</strong>
        <%= review.reviewer %>
    </p>
    <p>
        <strong>Rating:</strong>
        <%= review.rating %>
    </p>
    <p>
        <strong>Review:</strong>
        <%= review.body %>
    </p>
<% end %>

<h2>Add a review:</h2>
<%= form_with model: [ @movie, @movie.reviews.build ] do |form| %>
    <p>
        <%= form.label :reviewer %>
        <%= form.text_field :reviewer %>
    </p>
    <p>
        <%= form.label :rating %>
        <%= form.text_field :rating %>
    </p>
    <p>
        <%= form.label :body %>
        <%= form.text_area :body %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>

<div><br>
    <%= link_to "Return", movies_path %>
</div>